.v-center-bottom {
  display: flex;
  justify-content: center;
  align-items: self-end;
}

.v-center {
  display: flex;
  justify-content: center;
  align-items: self-end;
}

.v-right {
  display: flex;
  justify-content: right;
  align-items: self-end;
}

.row {
  margin-top: 10px;
}

.pull-left {
  float: left;
  width: 50% !important;
  margin-bottom:20px;
}
.pull-right {
  float: right;
  width: 50% !important;
  margin-bottom:20px;
}

img.sticker-float-right {
  height: 160px;
  position: absolute;
  top: -0.5em;
  right: -1em;
  z-index: 1;
}
img.sticker-float-left {
  height: 160px;
  position: absolute;
  top: -0.5em;
  left: -1em;
  z-index: 1;
}

img.sticker-float-midright {
  height: 160px;
  position: absolute;
  top: -0.5em;
  right: 12em;
  z-index: 1;
}

.box {
  width: 100%;
  border-radius: 25px;
  padding: 5px 0px 5px 25px;
  margin-bottom: -100px;
  background-color: #ffffff99;
}

.box-blond {
  width: 100%;
  border-radius: 25px;
  padding: 5px 0px 5px 25px;
  margin-bottom: -100px;
  background-color: #faf0cadd;
}

.center {
  text-align: center;
}

.v-fill {
  height: 100%;
}

.box.opaque {
  width: 100%;
  border-radius: 25px;
  padding: 5px 0px 5px 25px;
  background-color: #ffffff;
}

.box p{
  margin: 10px 20px 0px 0px;
}


.blur {
  filter: blur(5px);
  opacity: 50%;
}
.reveal .slides section .fragment.blur {
  filter: blur(5px);
  opacity: 50%;
  visibility: visible;
}

.reveal .slides section .fragment.blur.visible {
  filter: none;
  opacity: 100%
}

img.icon {
  height: 0.75em;
  margin: 0;
}

.dateplace {
  font-size: 35px;
  margin-left: 0.6em !important;
  padding-bottom: 1.2em;
}

.title {
  font-weight: bold;
  font-size: 70px;
  margin-top: -0.5em !important;
  margin-left: 0.3em !important;
}

.subtitle {
  font-size: 50px;
  margin-top: 1em !important;
  margin-left: 0.3em !important;
}

@keyframes blur {
  0%   {filter: blur(0px);  opacity: 100%;}
  100% {filter: blur(5px);  opacity: 50%;}
}

.title>p>strong.blur {
  animation-name: blur;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

.smaller {
  font-size: 27.5px;
  margin-left: 0.85em !important;
}

.callout.no-icon .callout-body, .callout.no-icon .callout-content {
  width: 100%;
}

.callout-content ul {
  display: block;
}

span.danger {
  color: #D9534F;
}

span.term {
  color: #4582ec;
}

.fragment-remove .fragment.fade-out.visible {
    display: none;
    height:0px;
    line-height: 0px;
    font-size: 0px;
}

.reveal code {
  white-space: pre;
}


